# Arquivos de build
build/
dist/

# Arquivos e pastas de dependências
node_modules/
npm-debug.log
yarn-error.log

# Arquivos locais de configuração
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos temporários
*.log
*.tmp

# Outros arquivos e pastas gerados automaticamente
.DS_Store
.idea/
.vscode/