@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Protest+Strike&family=Unna&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

:root{
    --font-titulo: 'Protest Strike', sans-serif;
    --font-padrao: 'Unna', serif;
}

html, body{
    min-height: 100%;
    background-color: rgb(31, 30, 30);
    font-size: 19px;
    
}

/*Configurações relacionadas ao cabeçalho*/

.cabecalho{
    display: flex;
    padding: 15px 100px;
    background-color: rgb(15, 15, 15);

    justify-content: space-between;
    
}
.logo{
    width: 120px;
    border-radius: 8px;
}
.menu a{
    font-family: var(--font-titulo);
    font-size: 15px;
    font-weight: 100;
    color: white;
    width: 300px;
    height: 37.6px;
    margin-left: 40px;
    

    border: solid 1px transparent;
    padding: 5px;

}
.menu a:hover{
    transition: .4s;
    border: solid 1px white;
    border-radius: 10px;
}
.menu .btnEntrar{
    margin-left: 40px;
    padding: 10px 15px;
    width: 90px;
    outline: none;

    background-color: transparent;
    font-family: var(--font-titulo);
    color: white;
    

    border: solid 1px white;
    border-radius: 10px;

    cursor: pointer;
}
.menu .btnEntrar:hover{
    transition: .4s;
    background-color: white;
    color: black;
}


/*Configurações relacionadas ao Main*/

.conteudo-principal{
    padding: 10px 10px 0px 10px;
}

/*Configurações a ultima historia*/

.ultima-historia{
    display: flex;
}
.img-ultima-postagem{
    max-width: 400px;
    height: 190px;
    border-radius: 10px;
    border: solid 1px transparent;
}
.img-ultima-postagem:hover{
    transition: .4s;
    border: solid 1px white;
}
.descri-ultima-hist{
    margin-top: 10px;
}
.descri-ultima-hist a{
    margin-left: 15px;
    height: 20px;
    font-family: var(--font-titulo);
    color: white;

    border: solid 1px transparent;
    padding: 8px;
}
.descri-ultima-hist a:hover{
    transition: .4s;
    border: solid 1px white;
    border-radius: 10px;
}
.descri-ultima-hist p{
    margin-left: 15px;
    margin-top: 15px;
    color: white;
}


