.bloco_cartazes{
    display: flex;
    justify-content: space-around;
}
.bloco_cartazes img{
    width: 450px;
    margin-top: -130px;

    animation: flipImg 0.5s;
    transition: 0.5s;
    
}

@keyframes flipImg{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.bloco_cartazes img:hover{
    transform: scale(1.05);
    
}