@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Protest+Strike&family=Unna&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

:root{
    --font-titulo: 'Protest Strike', sans-serif;
    --font-padrao: 'Unna', serif;
}

html, body{
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 19px;
    
}

header{
    background-color: rgb(15, 15, 15);
    color: white;
    
}

header > h1{
    padding: 50px 0px 40px 0px;

    font-family: var(--font-titulo);
    text-align: center;
    font-weight: inherit;
    font-size: 32px;
    text-transform: uppercase;
}
header nav{
    text-align: right;
    padding: 0px 0px 10px 0px;
}
header a{
    margin-right: 20px;

    text-transform: lowercase;
    font-family: var(--font-titulo);
    color: white;
    font-weight: initial;
    font-size: 14px;
}

h2{
    font-family: var(--font-padrao);
    font-weight: inherit;
    font-size: 32px;
    padding-top: 10px;
    padding-left: 20px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
}

section > p{
    text-indent: 10px;
    padding-bottom: 10px;
}

section.imagem{
    position: relative;
    background-color: rgb(65, 64, 64);
    color: rgb(255, 255, 255);
    
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.24);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0px 5px 0px 5px;
    margin: 0px 20px 0px 0px;
    max-width: 800px;
    min-width: 300px;
    
}
section#img-01{
    background-image: url(imagens/001.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}
section#img-02{
    background-image: url(imagens/003.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}


section.normal{
    background-color: rgba(255, 255, 255, 0.842);
    color: rgb(15, 15, 15);
    
}

footer{
    background-color: rgb(15, 15, 15);
    color: white;

    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: lighter;
    text-align: center;

}
footer a{
    color: rgb(254, 255, 255);
}
a:hover{
    text-decoration: underline;
}